<!DOCTYPE html>
<html>
	<head>
		<title>Reasoned Rhymer</title>
        <script type='text/javascript'>
            var initial_app_state = "{{ app-state }}";
            var page_version = "{{ page-version }}";
        </script>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="microphone.css">
	</head>
	<body>
		<div id="app" class="container">
		</div> <!-- /container -->

        <script src="microphone.js"></script>
        <script src="react.js"></script>

    </body>
</html>
